.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.vitals-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.vital-item {
    background: #161616;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.vital-item p {
    margin: 8px 0;
}

.vital-item details {
    margin-top: 10px;
}