/* Đặt lại các thuộc tính mặc định của các phần tử HTML */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Định nghĩa font chữ cho toàn bộ ứng dụng */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #f7f8fc;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Style cho các đoạn mã code */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
